*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: auto;
   
}
main{
    background-image: url("../assets/um-fundo-com-numeros-coloridos-de-varios-tamanhos-como-padrao_49459-787.avif");
}